{% include 'layouts/header.htm' %}

<div class="profile-page-wrapper">
    <div class="profile-container">
        {% include 'layouts/user_options.htm' %}

        <main class="profile-content">
            <h2 class="section-subtitle">Order History</h2>
            
            <div class="order-table-wrap">
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total Amount</th>
                            <th>Action</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                       <tr>
                                <td>{{ order.order_number }}</td>
                                <td>{{ order.ordered_at.strftime('%d %b, %Y') }}</td>
                                <td>
                                    <span class="status-pill status-{{ order.status }}">
                                        {{ order.status | capitalize }}
                                    </span>
                                </td>
                                <td>PKR {{ order.total_amount }}</td>
                                <td>
                                    {% if order.status == 'pending' %}
                                        <form action="{{ url_for('users.cancel_order',order_id=order.order_id) }}" method="POST" onsubmit="return confirm('Are you sure?');">
                                            <button type="submit" class="btn btn-danger btn-sm">Cancel Order</button>
                                        </form>
                                    {% elif order.status == 'cancelled' %}
                                        <span class="text-muted small">Order Cancelled</span>
                                    {% endif %}

                                    {% if order.status == 'delivered' %}
                                         <form action="#" method="POST" onsubmit="return confirm('Are you sure?');">
                                            <button type="submit" class="btn btn-danger btn-sm">Return Order</button>
                                        </form>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('users.order_details',order_id=order.order_id) }}" class="btn-table">View Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

{% include 'layouts/footer.htm' %}